@import url('https://fonts.googleapis.com/css?family=Akronim');

* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

body {
    background-image: linear-gradient(to bottom, #fcf5da, #cccab1, #e9cbb9)
}

.wrapper {
    display: grid; 
    grid-template-columns: 3fr 1fr; 
    grid-template-rows: 300px 50px auto 50px; 
    grid-template-areas: 
        "header header"
        "nav nav"
        "main aside"
        "footer footer";
    background-color: beige;
    min-height: 100vh;
    margin: 0 auto;
    width: 80%;
}

.header {
    grid-area: header;
    background-color: burlywood;
    font-family: 'Akronim', cursive;
    font-size: 140px;
    text-align: center;
    padding-top: 80px;
    color: #627241;
}

.navigation {
    grid-area: nav;
    background-color: cadetblue;
    text-align: center;
}

.navigation ul {
    margin: 0;
    margin-left: -50pX;
}

.navigation li {
    display: inline-block;
    margin: 0 -3px;
}

.navigation a {
    display: block;
    padding: 16px 30px;
    height: 100%;
    color: white;
    text-decoration: none;
    transition: .5s background-color; 
}

.navigation a:hover {
    background-color: #3d6161;
}

.content {
    grid-area: main; 
    background-color: #dba478;
    padding: 50px 90px;
    color: #220911;
}

.content h1, h2, h3 {
    margin: 17px 0px;
}

.aside {
    grid-area: aside;
    background-color: darkkhaki;
    padding: 20px 20px;
    color: #3d6161;
}

.aside a {
    color: whitesmoke;
}


.footer {
    grid-area: footer; 
    background-color: darkseagreen;
    padding: 19px;
    text-align: center;
    color: whitesmoke;
}